@import url('https://fonts.googleapis.com/css?family=Prompt:300,400,500,600');

* { font-family: 'Prompt', sans-serif!important; font-weight: 300; }

/*HELPER CLASSES*/

.hidden {display: none;}
h1 { font-weight: 500; text-transform: uppercase; font-size: 26px; line-height: 40px; margin-right: 10px; margin-bottom: 10px; }
.font-bold { font-weight: 600; } 
.pr40 { padding-right: 40px!important;}

/*GENERAL*/

html, body { height: 100%; min-height: 100%; }

body { background: -moz-linear-gradient(top, rgba(255,255,255,0) 54%, rgba(241,248,255,0) 75%, rgba(224,239,255,1) 100%); background: -webkit-linear-gradient(top, rgba(255,255,255,0) 54%,rgba(241,248,255,0) 75%,rgba(224,239,255,1) 100%); background: linear-gradient(to bottom, rgba(255,255,255,0) 54%,rgba(241,248,255,0) 75%,rgba(224,239,255,1) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e0efff',GradientType=0 ); -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; }
	
	
body .container, body .container-fluid { padding-top: 75px; margin-bottom: 100px;  }
select { appearance: none!important; -webkit-appearance: none!important; }
select, input { height: 38px!important; }
input { color: black; border-radius: 0; border: 1px solid #dddddd; transition: background-color 0.4s ease-in, color 0.4s ease-in!important; background: white; border-radius: 0px!important; }
input.form-control:hover { color: black!important; background-color: #f5faff!important; transition: background-color 0.4s ease-in, color 0.4s ease-in!important;}
input.form-control:focus { color: black!important; background-color: #f5faff!important; transition: background-color 0.4s ease-in, color 0.4s ease-in!important;}
textarea { color: black; border-radius: 0; border: 1px solid #dddddd; transition: background-color 0.4s ease-in, color 0.4s ease-in!important; background: white; border-radius: 0px!important; resize: none; }
textarea.form-control:hover { color: black!important; background-color: #f5faff; transition: background-color 0.4s ease-in, color 0.4s ease-in!important;}
textarea.form-control:focus { color: black!important; background-color: #f5faff; transition: background-color 0.4s ease-in, color 0.4s ease-in!important;}
select { color: black; border-radius: 0; border: 1px solid #dddddd; background: white; border-radius: 0px!important; padding: 6px 24px 6px 8px!important; background: #ffffff url(../img/dropdown.svg) 0 0 no-repeat; background-size: 24px 12px; background-position: right 2.5px top 12px; }
select:focus { border: 1px solid #80bdff!important; }
a:focus, button:focus, select:focus, textarea:focus, input:focus { outline: none; box-shadow: none!important; }
.form-control:disabled, .form-control[readonly] { background: white!important; }

/*BUTTON*/

.btn { border-radius: 0px; }
.btn-primary { box-shadow: inset 0 -4px 0 0 rgb(87, 147, 201)!important; background:white; color: rgb(87, 147, 201); border-color: rgb(87, 147, 201)!important;  }
.btn-secondary { box-shadow: inset 0 -4px 0 0 rgb(151, 190, 13)!important; background:white; color: rgb(151, 190, 13); border-color: rgb(151, 190, 13)!important;  }
.btn-danger { background-color: white; box-shadow: inset 0 -4px 0 0 rgb(223, 0, 48)!important; border-color: rgb(223, 0, 48)!important; color: rgb(223, 0, 48)!important;  }
.btn-primary:hover, .btn-primary:focus { background-color: #ffffff!important; }
.btn-secondary:hover, .btn-secondary:focus { background-color: #ffffff!important; }
.btn-danger:hover { background-color: #ffffff!important; color: #ffffff!important; }
.btn-primary.hvr-sweep-to-top:before { background-color: rgb(87, 147, 201); color: #ffffff;  }
.btn-secondary.hvr-sweep-to-top:before { background-color: rgb(151, 190, 13); color: #ffffff; }
.btn-danger.hvr-sweep-to-top:before { background-color: rgb(223, 0, 48); }
.btn-danger:focus { color: white!important; }

/*NAVBAR*/

nav.navbar { background: white!important; border-bottom: #df0030 2px solid; }
.navbar-brand { background: url(../img/logo2.svg) center center no-repeat; background-size: 388px 500px; width: 150px; height: 42px; display: block; text-indent: -9999px; background-position: 30% 55%; }
.navbar-nav li { padding: 0 10px; }
.navbar-nav li a  { font-weight: 400; padding: 0 2px!important; background-image: linear-gradient(120deg, #df0030 0%, #df0030 100%); background-repeat: no-repeat; background-size: 100% 0.2em; transition-property: color; background-position: 0 88%; transition: background-size 0.25s ease-in; font-size: 20px; color: black!important; letter-spacing: 0; }
.navbar-nav li a:hover { background-size: 100% 100%; color: white!important; transition: background-size 0.25s ease-in, color 0.25s ease-in; }
.navbar-nav li a.active { background-size: 100% 100%; color: white!important; transition: background-size 0s ease-in, color 0s ease-in!important; font-weight: 600!important; }
#loggedInAs { margin-right: 15px; }

/*LOGIN AREA*/

.login-area .logo { background: url(../img/logo.svg) center center no-repeat; background-size: 500px 680px; width: 150px; height: 136px; display: block; text-indent: -9999px; background-position: 52.5% 30%; margin: 0 auto 30px auto; }
.login-area { width: 100%; margin: 10px auto 0 auto; display: block; border: 1px solid #dddddd; }
.login-wrapper {  overflow: auto; padding: 40px 30px; background: -moz-linear-gradient(top, rgba(255,255,255,0) 54%, rgba(241,248,255,0) 75%, rgba(224,239,255,0.5) 100%); background: -webkit-linear-gradient(top, rgba(255,255,255,0) 54%,rgba(241,248,255,0) 75%,rgba(224,239,255,0.5) 100%); background: linear-gradient(to bottom, rgba(255,255,255,0) 54%,rgba(241,248,255,0) 75%,rgba(224,239,255,0.5) 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#e0efff',GradientType=0 ); -webkit-background-size: cover; background-size: cover; background-repeat: no-repeat; }
.login-area .text-danger { margin-bottom: 20px; }
.login-area .btn { margin-top: 10px; }

/*TABLE*/   

table .empty-col { font-size: 28px; text-align: center; padding: 100px 0!important; }
table tfoot td { background-color: #f3f3f3!important; opacity: 0.5; text-align: center }
table tfoot td:nth-of-type(1) { text-align: left!important; }
table { background: white;}
table input { background: white; font-weight: 400; }
th { font-weight: 500; border-top: 0px solid transparent!important; }
td { position: relative; }
tr, td, th { vertical-align: middle!important; }
.btn-comment { position: absolute; right:0px; height: 30px; width: 38px; top: 9px; display: inline-block; background: url(../img/icn-comment.svg) center center no-repeat; background-size: 38px 30px; }
.member-status { padding-right: 40px!important; }
.calendar-date { display: block; }
#contactTable { margin-top: 0px; }
.female-dancer { background-color: #ffeef1; }
.male-dancer { background-color: #e9fbff; }
.ae-yes { background-color: #d0f1dc; }
.ae-no { background-color: #f18e9f; }
.ae-null { background-color: #ffffff; }
.ae-maybe { background-color: rgba(255, 252, 143, 0.50); }
.event-cell { text-align: center!important; }

.table-wrapper { overflow-x: auto; display: block; clear: both; }
.event-table { white-space: nowrap; table-layout: auto; }
.event-table th:nth-of-type(1) { width: 200px!important; }
.event-table td.event-cell { padding: 0px!important; min-width: 100px; }
.event-table .event-cell .btn, .event-table .event-cell .btn:focus, .event-table .event-cell .btn:hover, .event-table .event-cell .btn:visited, .event-table .event-cell .btn:active { display: block!important; width: 100%; background: transparent; color: transparent; border: 0px transparent solid; height: 40px; }
.event-table td, .event-table th { width: 100px; min-width: 100px; max-width: 100px; overflow: hidden; padding: 0px 8px!important; }
.event-table td { height: 40px!important; }

/*POPOVER*/

.bs-popover-auto[x-placement^=right], .bs-popover-right { margin-left: 0px!important; }
.popover-body { border-radius: 0px!important; background-color: #f5faff!important; border: 1px solid #80bdff;  }
.bs-popover-auto[x-placement^=right] .arrow::after, .bs-popover-right .arrow::after {border-right-color:  #f5faff!important; }
.bs-popover-auto[x-placement^=right] .arrow::before, .bs-popover-right .arrow::before { border-right-color: rgba(128, 189, 255, 1)!important }
.popover { border: 0px solid transparent!important; top: 2px!important; }
.bs-popover-auto[x-placement^=right] .arrow::after, .bs-popover-auto[x-placement^=right] .arrow::before, .bs-popover-right .arrow::after, .bs-popover-right .arrow::before { border-width: .5rem 0.6rem .5rem 0; }


/*DANCER TABLE*/

.dancer-active { display: table-row; }
.dancer-inactive { display: none; }

/*REPORT TABLE*/   

.event-sub-row { display: flex; flex-shrink: 0; justify-content: space-around; }
.event-sub-row span { width: 25%!important; white-space: nowrap; line-height: 0; margin: -10px 0 0 0; }
.event-specific-name { line-height: 5; white-space: nowrap; }
.quarter-data { display: flex; flex-shrink: 0; justify-content: space-around; }
.quarter-data span { width: 25%!important; }
.quarter-data span:last-of-type { font-weight: 600; }
table input { border: 0px solid transparent; width: 100px; }
body .default-table-view { table-layout: fixed!important; width: 800px!important; margin: 0 auto; clear: both!important; }
.positive-sum { color: green; }
.negative-sum { color: red; }

.magic-checkbox+label, .magic-radio+label { margin: -10px 0 0 0; }
.magic-checkbox+label:after { top: 4px!important; }
.modal input.filler-input { border: 0px solid transparent; font-weight: 500; background: white!important; padding: 12px 12px 0px 0px; }
.modal input.filler-input:focus, .modal input.filler-input:hover { background: white!important; }
/*MODAL*/

.modal .large-modal label { padding-bottom: 0px!important; font-size: 16px!important; padding-left: 8px!important; }
.modal .large-modal { max-width: 700px; }
.modal .large-modal .form-group.row { margin-bottom: 2.5px; }
.modal .large-modal .modal-body { padding: 20px 30px 30px 30px; }
.modal .large-modal .modal-header { padding: 20px 30px 20px 30px; }
.modal .large-modal .modal-footer { padding: 20px 30px; }
.modal textarea { height: 100px!important; }
.modal textarea, .modal input, .modal select { font-size: 14px; }
.modal .close span { background: url(../img/close-button.svg) center center no-repeat; background-size: 16px; width: 16px; height: 16px; display: block; margin-top: 5px; }
.modal .close { opacity: 1!important; margin-top: -20px!important; }
.modal-content { border-radius: 0px!important; border: #dddddd 1px solid;}
.modal h5 { text-transform: uppercase; font-size: 18px; line-height: 1; width: 100%; }
.modal .modal-header { padding: 15px 30px 15px 30px; }
.modal .modal-body { padding: 15px 30px 15px 30px; }
.modal .modal-footer { padding: 15px 30px 15px 30px; }

#calendarUserName { display: inline-block; width: 75%; }
#calendarEventName { display: inline-block; clear: both; font-size: 14px; margin-top: 10px; color: #a2a2a2; margin-right: 5px; }
#calendarEventDate { font-size: 14px; margin-top: 4px; color: #a2a2a2; font-weight: 300; }


/*CALEDNAR*/
.ui-datepicker-header { background: rgb(87, 147, 201)!important; border-radius: 0px!important; border: 0px solid transparent; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover { background-color: rgb(223, 0, 48)!important; border: 0px solid transparent!important; }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active{ background: white; text-align: center; border: 0px solid transparent; }
.ui-state-default:hover { background: #f5faff; }
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight { font-weight: 700!important; color: black!important; background: rgb(151, 190, 13)!important; border-radius: 50px; }

.ui-datepicker-days-cell-over.ui-datepicker-current-day.ui-datepicker-today, .ui-state-default.ui-state-highlight.ui-state-active { background-color: rgb(223, 0, 48)!important; color: white!important; font-weight: normal!important; }


.ui-datepicker-title select { height: 30px!important; font-size: 12px; padding: 0px 24px 3px 8px!important; background-position: right 2.5px top 9px!important; }
.ui-datepicker-title select:nth-of-type(1) { margin-right: 5px!important; }


    @media (min-width: 767px) { 
.login-area { width: 460px; margin: 100px auto 0 auto; }

} 

    @media (min-width: 1200px) { 

/*TABLE*/
.event-table { white-space: nowrap; table-layout: fixed; }


    }